/*global*/
*{
    margin:1;
    padding:1;
}
body{
    font-family: arial;
}
p{
    line-height: 2;
}
img{
    max-width: 100%;
}
/*utilities*/

/*header*/
.site-init{
    background-image: url(./img/banner.jpg);
    background-size:cover;
    height: 300px;
    text-align: center;
    color:white;
}


